<div class="about-section">
    <h1>About Us Page</h1>
    <p>Looking for a top event management company in India that will ensure the smooth functioning of your event.Well, then E-vent Management is your best bet for a totally hassle-free event management experience. We specialize in different types of event management like weddings, and private/social, tourism, & corporate events.</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/assets/download.jpg"  style="width:70%">
        <div class="container">
          <h2>Satya Prasad</h2>
          <p class="title">Member-1</p>
          <p>Some text.</p>
          <p>satya@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/assets/download.jpg"  style="width:70%">
        <div class="container">
          <h2>Shivani</h2>
          <p class="title">Member-2</p>
          <p>Some text.</p>
          <p>shivani@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column">
        <div class="card">
          <img src="/assets/download.jpg"  style="width:70%">
          <div class="container">
            <h2>Arjun</h2>
            <p class="title">Member-3</p>
            <p>Some text.</p>
            <p>arjun@gmail.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="/assets/download.jpg"  style="width:70%">
          <div class="container">
            <h2>Himabindhu</h2>
            <p class="title">Member-4</p>
            <p>Some text.</p>
            <p>himabindhu@gmail.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
  
    <div class="column">
      <div class="card">
        <img src="/assets/download.jpg"  style="width:70%">
        <div class="container">
          <h2>Mahitha</h2>
          <p class="title">Member-5</p>
          <p>Some text.</p>
          <p>mahitha@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>