<div class="about-section">
    <h1>Career with us...!!</h1>
    
  </div>
  
  
  <div class="row">
    <div class="column">
      <div class="card">
        
        <div class="container">
          <h2>Oppurtunities for students</h2>
          <p>Learn about,search for,and apply to internships and full-time oppurtunities for students.</p>
          <br><p><button class="button">View Open Jobs</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
        <div class="card">
          
          <div class="container" >
         <h2>Remote career opportunities</h2>
            <p>View and search all open virtual jobs with Amazon and its subsidiaries.</p><br>
            <p><button class="button">View Open Jobs</button></p>
          </div>
        </div>
      </div>
   
      <div class="column">
        <div class="card">
          
          <div class="container">
            <h2>Manager / SR Manager</h2>
            <p>Taking project brief & creating event objectives and deliverables for internal teams.</p>
           <br> <p><button class="button">View Open Jobs</button></p>
          </div>
        </div>
      </div>
  </div>


  <br><br>
  <div class="card3">
  <div class="container"> 
    <h3>Thinking to be a part of Event Management Team!!!</h3> 
      <h1> Registeration Form</h1>  
      
      <hr>  
        <div class="box">

     <table> 
       <tr> 
        <th>  <label> Firstname : </label>    </th>
        <th> <input type="text" name="firstname" placeholder= "Firstname" size="65" required />   <br>  </th> </tr>
      <tr> 
        <th> <label> Middlename : </label>    </th>
        <th> <input type="text" name="middlename" placeholder="Middlename" size="65" required />   </tr> 
        <tr> 
          <th> <label> Lastname : </label>    </th>
          <th>  <input type="text" name="lastname" placeholder="Lastname"  size="65" required />  <br> </th> </tr>
      <tr> 
        <th>
      <label> Qualification:  </label>   </th>
      <th>
      <select>  
      <option value="Qualification">Qualification</option>  
      <option value="BCA">BCA</option>  
      <option value="BBA">BBA</option>  
      <option value="B.Tech">B.Tech</option>  
      <option value="MBA">MBA</option>  
      <option value="MCA">MCA</option>  
      <option value="M.Tech">M.Tech</option> 
      <option value="Others">Others</option> 
      </select>  
         <br>  </th> </tr>
         <tr> 
          <th> <label> Experience: </label>    </th>
          <th> <input type="text" name="Experience" placeholder="Experience" size="2"required />   <br> </th>
    </tr>
    <tr> 
      <th>
      <label>   Gender :  </label> </th>
      <th> <input type="radio" value="Male" name="gender" checked > Male   
      <input type="radio" value="Female" name="gender"> Female   
      <input type="radio" value="Other" name="gender"> Other  <br>  </th>  </tr>
        
         
         <tr> 
          <th>
      <label>Phone : </label>    </th>
    <th> <input type="text" name="phone" placeholder="phone no." size="10" required/> <br>   </th>  </tr>
    <tr> 
      <th> <label>Address :   </label>  </th>
      <th>  <textarea cols="80" rows="5" placeholder="Address" value="address" required>  </textarea> <br>   </th>  </tr>
      <tr> 
        <th>
      <label for="email"><b>Email : </b></label>    </th>
       <input type="text" placeholder="Enter Email" name="email" required> <br>    </tr>
       <tr> 
        <th>
          <label for="psw"><b>Password : </b></label>    </th>
         <th> <input type="password" placeholder="Enter Password" name="psw" required>  <br> </th>  </tr>
          <tr> 
            <th>
          <label for="psw-repeat"><b>Re-type Password : </b></label>     </th>
         <th> <input type="password" placeholder="Retype Password" name="psw-repeat" required>  <br> </th>  </tr>
          <button type="submit" class="registerbtn">Register</button>  
        </table>
          </div>
        </div>
      </div>
         
        
     
      
   
  